
  
  @media screen  and (min-width:800px) {
    #message{
      position: absolute;
      top: 150px;
      left: 400px;
  
    }
  }

  #head{
    background-image: url("./images/img.webp");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: 400;
    height: 50vh;
  }

  
