
{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Styles block -->

<!-- {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %} -->

    <!-- Content block -->
    {% block content%}
    <div class="container" style="background-color: white;">
       
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 50px;">
            <!-- General News -->
            <h3 style="color: blue;">General News Sources</h3>
            <hr>
            <div class="is-flex" style="display: flex; flex-wrap: wrap;">
                {{macro.displaySourceList(general)}}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 50px;">
            <!-- Business News -->
            <h3 style="color: blue;">Business News Sources</h3>
            <hr>
            <div class="is-flex" style="display: flex; flex-wrap: wrap;">
                {{macro.displaySourceList(business)}}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 50px;">
            <!-- Technology News -->
            <h3 style="color: blue;">Technology News Sources</h3>
            <hr>
            <div class="is-flex" style="display: flex; flex-wrap: wrap;" >
                {{macro.displaySourceList(technology)}}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"style="padding-bottom: 50px;">
            <!-- Sports News -->
            <h3 style="color: blue;">Sports News Sources</h3>
            <hr>
            <div class="is-flex" style="display: flex; flex-wrap: wrap;">
                    {{macro.displaySourceList(sports)}}
            </div>

        </div>


         <!-- Footer -->
    <footer class="page-footer font-small bg-dark pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
          <a href="https://github.com/asandelarvine"> Asande Larvine</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->

      
    </div>
    {% endblock%}