
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-image: url(../static/images/img.webp); background-repeat: no-repeat; background-position:center; height:60vh; background-attachment: fixed;background-size: cover;text-align: center;" >
    <a class="navbar-brand" href="/"><i class="fas fa-newspaper"></i>News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:right; font-size:18px; " >
      <ul class="navbar-nav mr-auto">
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: crimson;">
            See More
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" target="_blank" href="https://edition.cnn.com/" >Visit CNN</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" target="_blank" href="https://www.bbc.com/" >Visit BBC</a>
          </div>
          
        </li>
      </ul>     
    </div>
  </nav>